section#colonne-droite{
	border: 3px double black;
	padding: 30px;
	text-align: left;
	width: 360px;
	position: fixed;
	top: 10px;
	left:10px;
}

label{
	width: 150px;
	display: inline-block;
}

select{
	width: 200px;
}

input{
	display: block;
	margin: 20px auto;
	color: red;
	font-size: 16px;
}

#colonne-gauche{
	margin-left: 440px;
	border: 3px double red;
	padding: 20px;
}